---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

//
// Setup variables to be used by imports
//

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$background-image: url('../img/background.png');

$spacing-unit:     15px;


$brand-color:      rgb(45, 175, 200);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

html {
    --content-background: rgba(0, 0, 0, .5);
    // Doesn't work with Ruby SASS - need to update
    // --background-image: url('../img/background.png');
    --background-color: #1f6d65; // rgb(31, 109, 101)
    --text-color-rgb: 204,204,204;
    --site-title-color: white;
    --section-title-color: #ddd;
    --section-bg-color: rgba(26, 26, 26, 0.5);
}
// text, underline, background, title-text
html[data-theme="dark"] {
    --content-background: rgba(0, 0, 0, .65);
    // --background-image: url('../img/background.png');
    --background-color: #1f6d65; // rgb(31, 109, 101)
    --text-color-rgb: 204,204,204;
}
html[data-theme="white"] {
    --content-background: white; // rgba(246, 246, 239, 0.7);
    // --background-image: none;
    --background-color: white;
    --text-color-rgb: 0,0,0;
    --site-title-color: black;
    --section-title-color: black;
    --section-bg-color: rgba(156, 156, 156, 0.5);
}

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin shadow-box {
   	// color: rgb(var(--text-color-rgb));
    background: var(--content-background);
    background-clip: padding-box;
    border: 0px solid rgba(128, 128, 128, .5); /*8px*/
}

@media print {    
    .no-print, .no-print * {
        display: none !important;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;


/* Use Monokai theme for syntax highlighting */
@import "monokai";
/* Set background color for inline code */
code {
    /* Use lighter version of Monakai's background colour*/
    background-color: lighten(#272822, 10%);
    border-color: #303030;
    color: #c0c0c0;
}
/**
* Set background for code blocks to be different from inline code.
* We set no color so that Monokai's .highlight color is visible.
*/
pre, pre code {
    background-color: transparent;
    overflow-x: auto;
}
.highlighter-rouge .highlight {
    background-color: unset;
}
