/**
 * Site header
 */
.site-header {
    margin: 0 auto;
    // min-height: 56px;

    // Positioning context for the mobile navigation icon
    // position: relative;
}

.site-title {
    display: block;
    width: 100%;
    line-height: normal;

    margin-top: 0.7em;
    @media screen {
        margin-bottom: 0.7em;
    }

    text-align: center;

    font-family: Allura, Helvetica;
    font-size: 38pt;
    letter-spacing: -1px;
    float: left;

    color: var(--site-title-color);

    .sub-title {
        font-size: 80%;
    }
}

.site-nav {
    // float: right;
    text-align: center;

    a {
        display: inline-block;
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0);

        padding: 3px 10px 5px 10px;
        font-weight: 400;
        margin: 0 2px;
        color: #333;

        &:hover {
            background-color: rgba(0, 0, 0, .6);
            color: #fff;
            text-decoration: none;
        }

        &.active, &.active:hover {
            background-color: rgba(0, 0, 0, .6);
            color: #fff;
        }
    }

    .menu-icon {
        display: none;
    }

    .page-link {
        font-size: 1.4em;
        line-height: 1.2em;
        color: #333;
        margin: 0 0 15px 0;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 2px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        text-align: right;
        @include shadow-box;

        a {
            padding: 0;
        }

        .menu-icon {
            display: block !important;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: var(--site-title-color);
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        a:hover {
            color: var(--site-title-color);
            background-color: rgba(0, 0, 0, 0);
        }

        .page-link {
            color: var(--site-title-color);
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    padding: 0;
    text-align: center;
    line-height: 2.5em;
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit;

    @include shadow-box;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    overflow-x: auto;
    // text-align: justify;

   	@include shadow-box;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    // font-size: 42px;
    // letter-spacing: -1px;

    // line-height: 1;

    @include media-query($on-laptop) {
        // font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    // text-align: left;

    h2 {
        font-size: 1.1em;
        padding: 0;
        line-height: 1.5em;
        border-bottom: 1px solid rgba(var(--text-color-rgb), 0.7);
        margin-bottom: 0.5em;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 1.05em;
        margin-bottom: 0.5em;
        text-decoration: underline;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 0.7em;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
