{# Called as: {% set hwil = {...} %}{% include "partials/header-with-image-link.html" %}
   Expected keys: text, img_src (optional), img_alt, title, link, ref_toggle (bool) #}
<span style="height: 1.8em; margin: 0.5em;" class="float-right">
{% if hwil.ref_toggle %}
<span title="Hide/show references"
    style="vertical-align: middle; padding: 0.5em; background-color: rgba(255,255,255,0.1);" class="darken-till-hover"
    onclick="toggleRefLinks()">
    <strong>[ ]</strong>
</span>
{% endif %}
{% if hwil.img_src %}
<a href="{{ hwil.link }}" title="{{ hwil.title }}">
    <img src="{{ hwil.img_src }}" alt="{{ hwil.img_alt }}" style="height: 1.8em" class="float-right darken-till-hover">
</a>
{% endif %}
</span>
<h1 style="clear:none">{{ hwil.text }}</h1>
